* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat';
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a { 
  text-decoration: none; 
  color:rgb(97, 2, 68);
}

header,
main,
footer {
  width: 100vw;
  padding: 1rem 2.5rem;
}

header,
footer {
  background-color: rgb(255, 255, 255);
}

footer {
  font-size: 1.5em;
}


.frontpage_image {
  width: 100%;
  height: 100%;
  background-image: url(../img/frontpage_illustration.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  
}

.nav-links li {
  font-family: 'Barlow';
  color:rgb(97, 2, 68);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 1.5rem;
  overflow-wrap: break-word;
  text-align: center;
}

.title {
  padding: 15rem 2rem;
}

.text-align-center {
  text-align: center;
}

.form {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 65rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid grey;
}

.form-group {
  height: 5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 1rem;
}

.second-column {
  display: grid;
  grid-column: 2;
}

.product-container {
  display: flex;
  
}

.product-image {
  flex: 40%;
} 

.item-row {
  flex: 60%;
}

input {
  padding: 0.5rem;
  font-size: 1.1em;
}

label {
  justify-self: right;
  align-self: center;
  font-size: 1.2em;
  text-align: right;
}

button {
  background-color: #440657;
  color: white;
  padding: 1.5rem 2rem;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
}

button:hover {
  opacity: 0.8;
}

.background-lightgreen {
  background-color: lightgreen;
}

.background-red {
  background-color: red;
}


@media only screen and (max-width: 600px) {
  .frontpage_image {
    width: 100%;
    height: 100%;
    background-image: url(../img/frontpage_illustration_small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
  }
  .nav-links li {
    font-size: 3rem;
  }

}

@media only screen and (min-width: 601px) {
  .frontpage_image {
    width: 100%;
    height: 100%;
    background-image: url(../img/frontpage_illustration_medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    font-size: 1.8rem;
  }
}

  @media only screen and (min-width: 1100px) {
    .frontpage_image {
      width: 100%;
      height: 100%;
      background-image: url(../img/frontpage_illustration.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      
    }
    .navbar {
      flex-direction: row;
    }

    .nav-links {
      flex-direction: row;
    }
    .nav-links li {
      font-size: 1.8rem;
    }
}
